- name: Setup EC2 and deploy application
  hosts: web
  become: true

  tasks:
    - name: Update packages
      yum:
        name: "*"
        state: latest

    - name: Install Docker
      yum:
        name: docker
        state: present

    - name: Start Docker service
      service:
        name: docker
        state: started
        enabled: true

    - name: Add ec2-user to docker group
      user:
        name: ec2-user
        groups: docker
        append: yes

    - name: Install Git
      yum:
        name: git
        state: present

    # Install Docker Compose v2 (plugin)
    - name: Create docker cli plugins directory
      file:
        path: /usr/libexec/docker/cli-plugins
        state: directory
        mode: '0755'

    - name: Install Docker Compose v2 plugin
      get_url:
        url: https://github.com/docker/compose/releases/latest/download/docker-compose-linux-x86_64
        dest: /usr/libexec/docker/cli-plugins/docker-compose
        mode: '0755'

    # Enable Buildx (comes bundled with Docker)
    - name: Enable Docker Buildx
      command: docker buildx install

    - name: Clone or update project repo
      git:
        repo: https://github.com/naimeshpatel5295/Dockerize-app.git
        dest: /home/ec2-user/app
        version: main
        force: yes
        update: yes

    - name: Stop old containers if any
      command: docker compose down
      args:
        chdir: /home/ec2-user/app
      ignore_errors: true

    - name: Run Docker Compose
      command: docker compose up -d
      args:
        chdir: /home/ec2-user/app
