- name: Setup EC2 and deploy application
  hosts: production
  become: true

  vars:
    docker_username: "{{ lookup('env', 'DOCKERHUB_USERNAME') }}"
    docker_password: "{{ lookup('env', 'DOCKERHUB_TOKEN') }}"

  tasks:
    - name: Update packages
      yum:
        name: "*"
        state: latest

    - name: Install Docker
      yum:
        name: docker
        state: present

    - name: Start Docker service
      service:
        name: docker
        state: started
        enabled: true

    - name: Add ec2-user to docker group
      user:
        name: ec2-user
        groups: docker
        append: yes

    - name: Login to Docker Hub
      command: docker login -u {{ docker_username }} -p {{ docker_password }}

    - name: Install Git
      yum:
        name: git
        state: present

    - name: Create docker cli plugins directory
      file:
        path: /usr/libexec/docker/cli-plugins
        state: directory
        mode: '0755'

    - name: Install Docker Compose v2 plugin
      get_url:
        url: https://github.com/docker/compose/releases/latest/download/docker-compose-linux-x86_64
        dest: /usr/libexec/docker/cli-plugins/docker-compose
        mode: '0755'

    - name: Enable Docker Buildx
      command: docker buildx install

    - name: Clone or update project repo
      git:
        repo: https://github.com/naimeshpatel5295/Dockerize-app.git
        dest: /home/ec2-user/app
        version: main
        force: yes
        update: yes

    - name: Stop old containers if any
      command: docker compose down
      args:
        chdir: /home/ec2-user/app
      ignore_errors: true

    - name: Pull latest Docker images
      command: docker compose pull
      args:
        chdir: /home/ec2-user/app

    - name: Run Docker Compose
      command: docker compose up -d
      args:
        chdir: /home/ec2-user/app
