name: CI/CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  test-build-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Run unit tests
        run: npm test

      - name: Run Docker image smoke test
        run: npm run docker:test

      - name: Run Docker Compose integration test
        run: npm run compose:test

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t naimeshpatel5295/devnotes-app:latest .

      - name: Push Docker image
        run: docker push naimeshpatel5295/devnotes-app:latest
